#about {
  background: linear-gradient(75deg, hsl(10, 40, 80), hsl(190, 40, 80));
  height: 100vh;
  img {
    width: 300px;
    height: 300px;
  }

  .container {
    position: relative;
    top: 100px;
  }
}

.shadowBox {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.35);
  max-width: fit-content;
  float: left;
  margin-left: 100px;
}

.rightCol {
  float: right;
  margin-right: 100px;
  max-width: 400px;
}


@media only screen and (min-width: 500px) and (max-width: 800px) {

}


@media only screen and (max-width: 500px) {
  .shadowBox {
    margin-left: 14%;
  }

  .rightCol {
    margin-left: 20px;
    margin-right: 0;
    margin-top: 50px;
  }

  #about img {
    width: 250px;
    height: 250px;
  }
}
