$margin: 15px;
$background-color: rgb(249, 222, 163);

#experience::before {
  // content: "";
  // top: -10vh;
  // position: relative;
  // width: fit-content;
  // margin-bottom: 100px;
  // border-bottom: 40px solid $background-color;
  // border-left: 100vw solid transparent;
}

#experience {
  height: 100vh;
  max-height: fit-content;
  position: relative;
  background-color: $background-color;
}

.list {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  height: 130vh;
  img {
    max-height: 250px;
  }
  .location {

  }
  .details {
    
  }
}


@media only screen and (min-width: 500px) and (max-width: 800px) {

}


@media only screen and (max-width: 500px) {

}
