$margin: 15px;
$background-color: rgb(249, 222, 163);

#experience {
  height: 100vh;
  max-width: 100%;
  max-height: fit-content;
  position: relative;
  background-color: $background-color;
}

.list {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  max-width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  img {
    max-height: 10em;
  }
  .location {

  }
  .details {
    
  }
}


@media only screen and (min-width: 500px) and (max-width: 800px) {

}


@media only screen and (max-width: 500px) {

}
