html {
  scroll-behavior: smooth;
}

span {
  margin-left: 10px;
}

.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.link {
  border: 2px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 5px;
  &:hover { transform: scale(1.1); }
}

.particles {
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  z-index: -1;
  background-color: white;
}

.particle-background {
  z-index: 0;
}

.page {
  height: 100vh;
}

.title {
  font-size: 70px;
  padding-top: 20vh;
}

@media only screen and (min-width: 768px) {
  .title {
    padding-top: 35vh;
  }
}

@media only screen and (min-width: 768px) {
  .tab {
    background: transparent;
    border: none !important;
    cursor: pointer;
    font-size: 20px;
    padding: 0 15px;
    color: black;
    &:hover { transform: scale(1.1); }
  }
}

.background {
  border: 1px inset lightgray;
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  background: white;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-left {width: 55%;}
  .col-right {width: 33%; margin-left: 5vw;}
}

.sprite {
  position: relative;
  left: 10px;
  bottom: 5px;
  &.hideBottom {
    clip-path: inset(0px 0px 7px 0px);
    margin-bottom: -5px;
  }
}